<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Libraries used by Data Scientists
- Data Science Tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy
4. Pandas

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|TensorFlow|

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [2]:
200/60

3.3333333333333335

<h2>Author:</h2>
Nisha